__pycache__/
lost-mine-of-the-drow/
# to the public repository.
chatGPT_research.md
claude_research.md
# Ignore the poetry lock file
poetry.lock
/.venv
# Ignore python virtual environments
.venv
# Ignore VSCode settings
.vscode/
# Ignore PyCharm settings
.idea/
.env
ovn-kubernetes/
starcatsys/
statblock5e/
